body {
    color: #F5F5F5;
}

a:hover, a:active {
    color: #87CEEB;  
}

a:link, a:visited {
    color: #3B6AA0;
}

a.hero-link:link, a.hero-link:visited {
    color: #AFEEEE
}

a.hero-link:hover, a.hero-link:active {
    color: #87CEEB;  
}

p {
    text-align: center;
}

.title {
    color: #F5F5F5;
}

.fa-links {
    font-size: 300%;
    color: #F5F5F5;
}

.contacts {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.has-background-go {
    background-color: #0EBFE9;
}

.disclaimer {
    color: #0099CC;
    margin: 10px;
}

.hashtag {
    color: #3B6AA0;
}

#gopher {
    height: 128px;
    width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
